<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name="people"></ion-icon></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon name="person" item-left></ion-icon>
      {{item.username}} <b *ngIf="user.id == item.id">(Me)</b>
    </button>
  </ion-list>
  <button ion-button block class="button-ios-dark" (click)="addContact()">Add contact</button>
</ion-content>
